html {
  padding-top: 60px;
  text-align: center;

  .button {
    background-color: #bebebe;
    border: none;
    color: black;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }
  .button-request {
    background-color: #e1e1e1;
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button-request:hover {
    background-color: #c0c0c0;
  }
  .button:hover {
    background-color: #abaaaa;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.success {
  text-align: center;
  color: #33962a;
}
.warning {
  text-align: center;
  color: #bd3030;
}
.vacation-request {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
}
